{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 70vh">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header d-flex" style="background-color: #37828E">
                        <img src="{{ asset('img/logo-urca.png') }}" alt="logo" class="mx-auto img-fluid" style="width: 50%;">
                    </header>
                    <div class="card-body">
                        <h5 class="card-title titre2 text-center">Connexion</h5>
                        <div class="form-group mb-3">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group mb-3">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" onpaste="return false;" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="remember_me" class="form-check label">
                                <input type="checkbox" name="remember_me" id="remember_me" class="form-check-input">
                                Se souvenir de moi
                            </label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-primary" type="submit" style="background-color: #37828E;">Se connecter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
