{% extends '_connectedNavBar.html.twig' %}

{% block title %}
    Liste des TER de {{ teacher.lastname }} {{ teacher.firstname }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ter.css') }}">
{% endblock %}

{% block body %}
    <main>
        <div class="ter-component">
            <h1>Bonjour {{ teacher.lastname }} {{ teacher.firstname }}, voici les TER que vous dirigez</h1>
            <div class="lst-ter">
            {% for TER in lstTerTeacher %}
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ TER.title }}</h5>
                            <p class="card-text">{{ TER.description }}</p>
                            <a href="{{ path('app_ter_show', {id: TER.id}) }}" class="btn btn-primary">Plus de détails</a>
                            <a href="{{ path('app_ter_update', {id: TER.id}) }}" class="btn btn-primary material-symbols-outlined">edit</a>
                            <a href="{{ path('app_ter_delete', {id: TER.id}) }}" class="btn btn-primary material-symbols-outlined">delete</a>
                            <a href="{{ path('app_ter_create') }}" class="btn btn-primary material-symbols-outlined">add</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

