{% extends '_connectedNavBar.html.twig' %}

{% block title %}Page TER{% endblock %}

{% block body %}
    <div class="container margin-top-10">
    {% for TER in lstTER %}
        {% if app.user.roles[0] == 'ROLE_STUDENT' %}
            {% if app.user.degree == TER.degree %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ TER.title }}</h5>

                            <p class="card-text">{{ TER.teacher.lastname }} {{ TER.teacher.firstname }}</p>
                            <p class="card-text">{{ TER.description }}</p>
                            <a href="{{ path('app_ter_show', {id: TER.id}) }}" class="btn btn-primary">Plus de détails</a>
                            <a href="{{ path('app_ter_toCandidate', {id: TER.id}) }}" class="btn btn-secondary">Candidater</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ TER.title }}</h5>
                        <p class="card-text">{{ TER.teacher.lastname }} {{ TER.teacher.firstname }}</p>
                        <p class="card-text">{{ TER.description }}</p>
                        <a href="{{ path('app_ter_show', {id: TER.id}) }}" class="btn btn-primary">Plus de détails</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    {% if app.user.roles[0] == 'ROLE_STUDENT' %}
        {% if lstCandidacyTER|length != 0 %}
            <h1>Liste de vos candidatures</h1>
            {% for candidacy in lstCandidacyTER %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ candidacy.TER.title }}</h5>
                            <p class="card-text">Professeur référent : {{ candidacy.TER.teacher.lastname }} {{ candidacy.TER.teacher.firstname }}</p>
                            <a href="{{ path('app_ter_show', {id: candidacy.TER.id}) }}" class="btn btn-primary">Plus de détails</a>
                            <a href="{{ path('app_ter_delete_candidacy', {id: candidacy.id}) }}" class="btn btn-secondary">Supprimer ma candidature</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
