{% extends '_connectedNavBar.html.twig' %}

{% set trans_month_hash = {
    "January": "Janvier",
    "February": "Février",
    "March": "Mars",
    "April": "Avril",
    "May": "Mai",
    "June": "Juin",
    "July": "Juillet",
    "August": "Août",
    "September": "Septembre",
    "October": "Octobre",
    "November": "Novembre",
    "December": "Décembre",
}
%}
{% set today = "now"|date("U") %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ter.css') }}">
{% endblock %}

{% block javascripts %}
    <script async src="{{ asset('js/ter.js') }}"></script>
{% endblock %}

{% block title %}Page TER{% endblock %}

{% block body %}
    <main>
        {% if lstTER|length != 0 %}
            <div class="ter-component">
                <h1>Liste des TER</h1>
                <div class="lst-ter">
                {% if app.user.roles[0] != 'ROLE_STUDENT' %}
                    <a href="{{ path('app_ter_create') }}" class="btn btn-primary col-8">Ajouter un nouveau TER</a>
                {% endif %}
                {% if app.user.roles[0] == 'ROLE_TEACHER' %}
                    <a href="{{ path('app_ter_gallery') }}" class="btn btn-general col-8">Gérer mes TER</a>
                {% endif %}
                {% for TER in lstTER %}
                    {% set today = "now"|date("Y-m-d") %}
                    {% set TERDate = TER.Date|date("Y-m-d") %}
                    {% set diff = TERDate|date("U") - today|date("U") %}
                    {% set days = diff|round(0, 'floor')|abs %}
                    {% set days = days / 86400 %}
                    {% set days = days|round(0, 'floor') %}
                    {% if app.user.roles[0] == 'ROLE_STUDENT' %}
                        {% if app.user.degree == TER.degree %}
                            <div class="col-8">
                            {% if days < 7 %}
                                <div class="card border-success text-success mb-3">
                            {% else %}
                                <div class="card">
                            {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ TER.title }}</h5>
                                        <p class="card-text">Professeur en charge du projet : {{ TER.teacher.lastname }} {{ TER.teacher.firstname }}</p>
                                        <form method="post" action="{{ path('app_ter_toCandidate', {id: TER.id}) }}" style="display: flex; align-items: flex-end; justify-content: space-between;">
                                            <div>
                                                <a href="{{ path('app_ter_show', {id: TER.id}) }}" class="btn btn-primary">Plus de détails</a>
                                                <button type="submit" class="btn btn-secondary" name="candidate-button">Candidater</button>
                                            </div>
                                            <small style="color: grey"><em>créé le {{ TER.date|date('d') }} {{ trans_month_hash[TER.date|date('F')] }} {{ TER.date|date('Y à H:i')}}</em></small>
                                        </form>
                                    </div>
                                    {% if days < 7 %}
                                    <p class="ribbon left-bottom right-top text-center" style="color: white">Nouveau TER</p>
                                    {% endif %}
                                </div>
                                </div>
                        {% endif %}
                    {% else %}
                        <div class="col-8">
                            {% if days < 7 %}
                            <div class="card border-success text-success mb-3">
                                {% else %}
                                <div class="card">
                                    {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ TER.title }}</h5>
                                    <p class="card-text">Professeur en charge du projet : {{ TER.teacher.lastname }} {{ TER.teacher.firstname }}</p>
                                    <div class="card-buttons">
                                        <div>
                                            <a href="{{ path('app_ter_show', {id: TER.id}) }}" class="btn btn-primary">Plus de détails</a>
                                        {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                                            <a href="{{ path('app_ter_update', {id: TER.id}) }}" class="btn btn-primary material-symbols-outlined">edit</a>
                                            <a href="{{ path('app_ter_delete', {id: TER.id}) }}" class="btn btn-primary material-symbols-outlined">delete</a>
                                        {% endif %}
                                        </div>
                                        <small style="color: grey;"><em>créé le {{ TER.date|date('d') }} {{ trans_month_hash[TER.date|date('F')] }} {{ TER.date|date('Y à H:i')}}</em></small>
                                    </div>
                                    {% if days < 7 %}
                                        <p class="ribbon-2 left-bottom right-top text-center" style="color: white">Nouveau TER</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% if app.user.roles[0] == 'ROLE_STUDENT' %}
                {% if lstCandidacyTER|length != 0 %}
                    <div class="right-component">
                        <h1>Liste de vos candidatures</h1>
                            <ol class="lst-candidacies">
                                {% for candidacy in lstCandidacyTER %}
                                    <li id="{{ candidacy.id }}" class="col-6 drag-target" draggable="true">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ candidacy.TER.title }}</h5>
                                                <p class="card-text">Professeur en charge du projet : {{ candidacy.TER.teacher.lastname }} {{ candidacy.TER.teacher.firstname }}</p>
                                                <a href="{{ path('app_ter_show', {id: candidacy.TER.id}) }}" class="btn btn-primary">Plus de détails</a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>
                    </div>
                {% else %}
                    <div class="explanations">
                        <p>Vous devez ici trier dans l'ordre que vous voulez les TER. Vous devez cependant candidater à tout les TER.</p>
                    </div>
                {% endif %}
            {% elseif app.user.roles[0] == 'ROLE_ADMIN' %}
                {% if lstStudentCandidaciesNotEqualToNumberCandidacies|length != 0 %}
                    <div class="right-component">
                        <div class="lst-candidacies">
                            <h1 class="text-center col-8">Liste des élèves n'ayant pas encore candidaté à tout les TER : {{ lstStudentCandidaciesNotEqualToNumberCandidacies|length }}/{{ nbEleves }}</h1>
                            {% for student in lstStudentCandidaciesNotEqualToNumberCandidacies %}
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-text">Élève : {{ student.lastname }} {{ student.firstname }}</p>
                                        {% if student.degree == 1 %}
                                            <p class="card-text">Niveau : {{ student.degree }}ère année</p>
                                        {% else %}
                                            <p class="card-text">Niveau : {{ student.degree }}e année</p>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="explanations">
                        <p>Tout les élèves ont fini de candidater.</p>
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            <div class="no-ter">
                <p>Il n'y a actuellement aucun TER de disponible, les professeurs les rajouteront durant l'année.</p>
            </div>
        {% endif %}
    </main>
{% endblock %}
