{% extends '_connectedNavBar.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ter.css') }}">
{% endblock %}

{% block title %}Page TER{% endblock %}

{% block body %}
    <main>
        {% if lstTER|length != 0 %}
            <div class="ter-component">
                <h1>Liste des TER</h1>
                <div class="lst-ter">
                {% if app.user.roles[0] != 'ROLE_STUDENT' %}
                    <a href="{{ path('app_ter_create') }}" class="btn btn-primary col-8">Ajouter un nouveau TER</a>
                {% endif %}
                {% if app.user.roles[0] == 'ROLE_TEACHER' %}
                    <a href="{{ path('app_ter_gallery') }}" class="btn btn-general col-8">Gérer mes TER</a>
                {% endif %}
                {% for TER in lstTER %}
                    {% if app.user.roles[0] == 'ROLE_STUDENT' %}
                        {% if app.user.degree == TER.degree %}
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ TER.title }}</h5>
                                        <p class="card-text">Professeur en charge du projet : {{ TER.teacher.lastname }} {{ TER.teacher.firstname }}</p>
                                        <p class="card-text">{{ TER.description }}</p>
                                        <form method="post" action="{{ path('app_ter_toCandidate', {id: TER.id}) }}">
                                            <a href="{{ path('app_ter_show', {id: TER.id}) }}" class="btn btn-primary">Plus de détails</a>
                                            <button type="submit" class="btn btn-secondary" name="candidate-button">Candidater</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="col-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ TER.title }}</h5>
                                    <p class="card-text">Professeur en charge du projet : {{ TER.teacher.lastname }} {{ TER.teacher.firstname }}</p>
                                    <p class="card-text">{{ TER.description }}</p>
                                    <a href="{{ path('app_ter_show', {id: TER.id}) }}" class="btn btn-primary">Plus de détails</a>
                                    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                                        <a href="{{ path('app_ter_update', {id: TER.id}) }}" class="btn btn-primary material-symbols-outlined">edit</a>
                                        <a href="{{ path('app_ter_delete', {id: TER.id}) }}" class="btn btn-primary material-symbols-outlined">delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% if app.user.roles[0] == 'ROLE_STUDENT' %}
                {% if lstCandidacyTER|length != 0 %}
                    <div class="right-component">
                        <h1>Liste de vos candidatures</h1>
                            <div class="lst-candidacies">
                                {% for candidacy in lstCandidacyTER %}
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ candidacy.TER.title }}</h5>
                                                <p class="card-text">Professeur en charge du projet : {{ candidacy.TER.teacher.lastname }} {{ candidacy.TER.teacher.firstname }}</p>
                                                <a href="{{ path('app_ter_show', {id: candidacy.TER.id}) }}" class="btn btn-primary">Plus de détails</a>
                                                <a href="{{ path('app_ter_delete_candidacy', {id: candidacy.id}) }}" class="btn btn-secondary">Supprimer ma candidature</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                    </div>
                {% else %}
                    <div class="explanations">
                        <p>Les TER sont des projets que vous aurez à faire à partir du (date à décider). Choisissez autant de TER que vous voulez et vous aurez le TER disponible le plus haut de votre liste. Si plusieurs élèves choisissent le même sujet, il y aura alors un tirage au sort et le perdant réitérera l'action si son second choix ou plus est choisi par d'autres personnes.</p>
                    </div>
                {% endif %}
            {% elseif app.user.roles[0] == 'ROLE_ADMIN' %}
                {% if lstStudentCandidaciesNotEqualToNumberCandidacies|length != 0 %}
                    <div class="right-component">
                        <div class="lst-candidacies">
                            <h1 class="text-center col-8">Liste des élèves n'ayant pas encore candidaté à tout les TER : {{ lstStudentCandidaciesNotEqualToNumberCandidacies|length }}/{{ nbEleves }}</h1>
                            {% for student in lstStudentCandidaciesNotEqualToNumberCandidacies %}
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-text">Élève : {{ student.lastname }} {{ student.firstname }}</p>
                                        {% if student.degree == 1 %}
                                            <p class="card-text">Niveau : {{ student.degree }}ère année</p>
                                        {% else %}
                                            <p class="card-text">Niveau : {{ student.degree }}e année</p>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="explanations">
                        <p>Il n'y a pour l'instant aucun élève ayant candidaté à un TER</p>
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            <div class="no-ter">
                <p>Il n'y a actuellement aucun TER de disponible, les professeurs les rajouteront durant l'année.</p>
            </div>
        {% endif %}
    </main>
{% endblock %}
