{% extends '_connectedNavBar.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ter.css') }}">
{% endblock %}

{% block body %}
    <a class="material-symbols-outlined btn btn-primary btnStyle" style="font-size: 4rem" href="javascript:history.back()">arrow_back</a>
    <div class="ter-info">
        <h1>Professeur en charge du projet : {{ TER.teacher.lastname }} {{ TER.teacher.firstname }}</h1>
        <h2>Titre du sujet : {{ TER.title }}</h2>
        <div class="ter-desc">
            <h3>Description du sujet</h3>
            <p>
                {{ TER.description }}
            </p>
        </div>
    </div>
{% endblock %}

{% block title %}
    Détails du TER n°{{ TER.id }}
{% endblock %}

