{% extends '_connectedNavBar.html.twig' %}

{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset('css/trombinoscope.css') }}" />
{% endblock %}

{% block title %}Page trombinoscope{% endblock %}

{% block body %}
    {{ include('student/_array_year.html.twig') }}

    <div class="container">
        <div class="row">
            {% for student in students %}
                <div class="col-3 ">
                    <a class="a-own" href="{{ path('app_student_profil', {_locale: app.request.locale, id: student.id}) }}">
                        <div class="card my-2 text-center">
                            <div class="card-body">
                                <img class="img-own img-fluid" src="{{ asset('img/default_profile_picture.png') }}">
                                <div class="student">
                                {{ student.firstname }} {{ student.lastname }}
                                {% if student.degree == 1%}
                                    <div>1 ère année</div>
                                {% else %}
                                    <div>2 ème année</div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
