{{ form_start(form, {
    'attr': {
        'class': 'd-flex flex-column w-75 align-items-start'
    }
}
) }}
<label for="internship_company" class="mb-2">Entreprise</label>
{{ form_widget(form.company, {'label': 'Entreprise', 'attr': { 'class': 'mb-3 color-blue bg-light-blue w-25'}}) }}
{{ form_row(form.beginDate, {'label': 'Date de début', 'attr': { 'class': 'color-blue bg-light-blue'}}) }}
{{ form_row(form.endDate, {'label': 'Date de fin', 'attr': { 'class': 'color-blue bg-light-blue'}}) }}
{{ form_row(form.city, {'label': 'Ville', 'attr': { 'class': 'color-blue bg-light-blue'}}) }}
{{ form_row(form.studentsNumber, {'label': 'Nombre d\'étudiants', 'attr': { 'class': 'color-blue bg-light-blue'}}) }}
{{ form_row(form.subject, {'label': 'Sujet du stage', 'attr': {'rows': '6', 'cols': '200', 'class': 'color-blue bg-light-blue'}}) }}
<input type="submit" value="{{label_submit}}" class="btn btn-general mx-auto" />
{{ form_end(form) }}