{% extends '_connectedNavBar.html.twig' %}

{% block title %}Liste des stages{% endblock %}
{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset('css/internship.css') }}" />
{% endblock %}

{% block body %}
    <div class="top__informations">
        <div class="top__informations__title">
            <h1>Liste des stages</h1>
        </div>

        {% if app.user.roles[0] == 'ROLE_COMPANY' or app.user.roles[0] == 'ROLE_ADMIN' %}
            <a class="btn btn-outline-primary" href={{ path('app_internship_create') }}>Ajouter une offre de stage</a>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            {% for internship in internships %}

                {% if internship.company.userIdentifier == app.user.userIdentifier %}
                    <div class="col-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ internship.company.companyName }}</h5>

                                <p class="card-text">{{ internship.company.supervisorLastname }} {{ internship.company.supervisorFirstname }}</p>
                                <a href="{{ path('app_internship_show', {id: internship.id}) }}" class="btn btn-primary">Plus de détails</a>
                            </div>
                        </div>
                    </div>
                {% elseif app.user.roles[0] != 'ROLE_COMPANY' %}
                    <div class="col-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ internship.company.companyName }}</h5>

                                <p class="card-text">{{ internship.company.supervisorLastname }} {{ internship.company.supervisorFirstname }}</p>
                                <a href="{{ path('app_internship_show', {id: internship.id}) }}" class="btn btn-primary">Plus de détails</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
