{% extends '_connectedNavBar.html.twig' %}
{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset('css/internship.css') }}" />
{% endblock %}

{% block body %}

    <div class="top__informations">
        <div class="top__informations__title">
            <h2>Liste des candidats</h2>
        </div>
    </div>

    <div class="showCandidacy__container">
        <div class="row">
            {% for candidacy in candidacies %}
                <div class="col-2">
                    <div class="showCandidacy__card card">
                        <div class="card-body">
                            <h5 class="showCandidacy__card-title card-title"><span class="showCandidacy__lastname">{{ candidacy.student.lastname }}</span> {{ candidacy.student.firstname }}</h5>

                            <p class="card-text">{{ candidacy.student.email }}</p>
                            <div class="showCandidacy__download">
                                <a class="btn btn-outline-success" href="{{ path('app_internship_candidacy_download', {id: internship.id, idCandidacy: candidacy.id, type: "cv", _locale: app.request.locale} ) }}">CV</a>
                                <a class="btn btn-outline-success" href="{{ path('app_internship_candidacy_download', {id: internship.id, idCandidacy: candidacy.id, type: "coverletter", _locale: app.request.locale} ) }}">Lettre de motivation</a>
                            </div>
                            <div class="showCandidacy__decision">
                                <a class="btn btn-outline-primary" href="{{ path('app_internship_candidacy_accept', {id: internship.id, idCandidacy: candidacy.id, _locale: app.request.locale} ) }}">Accepter</a>
                                <a class="btn btn-outline-danger" href="{{ path('app_internship_candidacy_refuse', {id: internship.id, idCandidacy: candidacy.id, _locale: app.request.locale} ) }}">Refuser</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {#
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
            <th>CV</th>
            <th>Lettre de motivation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for candidacy in candidacies %}
            <tr>
                <td>{{ candidacy.student.lastname }}</td>
                <td>{{ candidacy.student.firstname }}</td>
                <td>{{ candidacy.student.email }}</td>
                <td><a class="btn btn-outline-success" href="{{ path('app_internship_candidacy_download', {id: internship.id, idCandidacy: candidacy.id, type: "cv"} ) }}">Télécharger</a></td>
                <td><a class="btn btn-outline-success" href="{{ path('app_internship_candidacy_download', {id: internship.id, idCandidacy: candidacy.id, type: "coverletter"} ) }}">Télécharger</a></td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_internship_candidacy_accept', {id: internship.id, idCandidacy: candidacy.id} ) }}">Accepter</a>
                    <a class="btn btn-outline-danger" href="{{ path('app_internship_candidacy_refuse', {id: internship.id, idCandidacy: candidacy.id} ) }}">Refuser</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    #}





{% endblock %}