{% extends '_connectedNavBar.html.twig' %}
{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset('css/internship.css') }}" />
{% endblock %}

{% block title %}
    Candidature à un stage
{% endblock %}

{% block body %}
    <div class="top__informations">
        <h1>Candidature</h1>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.cv, { 'label': ' ', 'attr': {'class': 'tocandidate__btn'}}) }}
    {{ form_row(form.coverLetter, { 'label': ' ', 'attr': {'class': 'tocandidate__btn'} } ) }}
    {{ form_row(form.validate, {'label': 'Valider la candidature'}) }}
    <a href="{{ path('app_internship_show', {id: internship.id}) }}" class="btn btn-secondary">Annuler</a>
    {{ form_end(form) }}
{% endblock %}

