{% extends 'base.html.twig' %}

{% block title %}Hello LobbyController!{% endblock %}
{% block stylesheets%}
      <link rel="stylesheet" href="{{ asset('css/lobbyConnected.css') }}" />
{% endblock %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>FIL D'ACTUALITE</h1>
        <div class="art1-div">
            <details class="art1">
                <summary>
                    <img src="{{ asset('img/Article1.jpg') }}">
                    <h3>News #1 : Title</h3>
                </summary>
                Description de l'article 1
            </details>
            <div class="art2-div">
                <details class="art2">
                    <summary>
                        <img src="{{ asset('img/Article2.jpg') }}">
                        <h3>News #2 : Title</h3>
                    </summary>
                    Description de l'article 2
                </details>
                <div class="art3-div">
                    <details class="art3">
                        <summary>
                            <img src="{{ asset('img/Article3.jpg') }}">
                            <h3>News #3 : Title</h3>
                        </summary>
                        Description de l'article 3
                    </details>
                    <details class="art4">
                        <summary>
                            <img src="{{ asset('img/Article4.jpg') }}">
                            <h3>News #4 : Title</h3>
                        </summary>
                        Description de l'article 4
                    </details>
                </div>
            </div>
        </div>
    {% else %}
<p>Pas connecté</p>
    {% endif %}
{% endblock %}
