{% extends '_connectedNavBar.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="titre">
        <h1><strong>Master informatique</strong></h1>
        <h2><strong>Parcours : intelligence artificielle</strong></h2>
    </div>
    <main>
        <section class="d-flex flex-row align-items-center mt-5 mb-5">
            <div class="flex-row mx-5">
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
                <h2 class="titre2 mb-3">PRÉSENTATION</h2>
                <p class="mt-2">
                    Le <strong>Master Informatique parcours IA</strong> est un diplôme national,
                    il est organisé en <strong>5 Unités d’Enseignement</strong>.
                    <br><br>
                    Les enseignements sont dispensés sous forme de cours magistraux, de travaux dirigés et de travaux pratiques,
                    l’accent étant mis sur les projets individuels et collectifs, les stages, ainsi que sur le contrôle continu.
                    <br><br>
                    Un certain nombre d’enseignements sont mutualisés avec d’autres Mentions portées par le Département Mathématiques,
                    Mécanique et Informatique (MMI).<br>
                    Les compétences linguistiques et professionnelles (Anglais, Gestion de projets,
                    Communication, Organisation des entreprises) sont largement considérées (UE5).
                </p>
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
            </div>
            <img src="{{ asset('img/Unit_enseign.png') }}" alt="image unités enseignement" class="justify-content-end w-50 img-fluid">
        </section>
        <section class="d-flex my-5">
            <div class="mx-5">
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
                <h2 class="titre2 mb-3">COMPÉTENCES ACQUISES</h2>
                <p class="mt-2">
                    Les compétences disciplinaires acquises se concentrent sur l’intelligence artificielle,
                    les humanités numériques, l’aide à la décision et la fouille de données (UE1),
                    la collecte, l’analyse, la gestion et la fusion/corrélation de données, le Big Data et l’apprentissage machine,
                    appliqués par exemple aux villes/transport/agriculture connectés (UE2), l’apprentissage profond, la classification,
                    la complexité et les statistiques, appliqués par exemple à la modélisation bio-inspirée et à la cognition située (UE3),
                    la programmation, la visualisation et les interactions personnes-machines (UE4).
                </p>
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
            </div>
        </section>
        <section class="d-flex">
            <div class="flex-row mx-5">
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
                <h2 class="titre2 mb-3">ORGANISATION PÉDAGOGIQUE</h2>
                <p class="mt-2">
                    <strong>Modalités d’enseignement :</strong>
                    <br><br>
                    Formation initiale en présentiel ou en alternance.
                    <br><br>
                    <strong>Stages et projets tuteurés :</strong>
                    <br><br>
                    En M1, un projet tutoré et un stage obligatoire de deux mois minimum sont prévus au second semestre (S2).
                    <br><br>
                    En M2, un projet tutoré et un stage obligatoire de quatre mois minimum sont prévus au second semestre (S4).
                </p>
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
            </div>
            <div class="w-50 d-flex">
                <img src="{{ asset('/img/orga_master.png') }}" alt="orga_master" class="border border-5 img-fluid">
                <div class="d-flex flex-column mx-5 justify-content-center">
                    <a href="{{ asset('/img/orga_master.png') }}" target="_blank" class="mb-5"><span class="material-symbols-outlined color-blue">visibility</span></a>
                    <a href="{{ asset('/img/orga_master.png') }}" download><span class="material-symbols-outlined color-blue">download</span></a>
                </div>
            </div>
        </section>
        <section>
            <img src="{{ asset('img/univ_band.png')}}" alt="bandeau université" class="img-fluid w-100 my-10">
        </section>
        <section class="d-flex">
            <section class="d-flex my-5">
                <div class="mx-5">
                    <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
                    <h2 class="titre2 mb-3">ADMISSION</h2>
                    <p class="mt-2">
                        [pas encore défini]
                    </p>
                    <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
                </div>
            </section>
        </section>
        <section class="d-flex">
                <div class="flex-row mx-5">
                    <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
                    <h2 class="titre2 mb-3">POURSUITES D’ÉTUDES ET DÉBOUCHÉS</h2>
                    <p class="mt-2">
                        <strong>Poursuites d’études envisageables :</strong>
                        <br><br>
                        Les étudiants motivés pourront compléter leur formation par un doctorat.
                        <br><br>
                        <strong>Débouchés :</strong>
                        <br><br>
                        Code ROME :
                        <br><br>
                        Ingénieur en Systèmes d’information et de télécommunication : M1804,<br>
                        Management et ingénierie études, recherche et développement industriel : H1206,<br>
                        Data scientist / Études et prospectives socio-économiques : M1403,<br>
                        Conseil en organisation et management d’entreprise : M1402,<br>
                        Direction de petite ou moyenne entreprise : M1302,<br>
                        Réalisateur de contenus multimédias : E1205.<br>
                        <i class="opacity-50">Le ROME est le répertoire des métiers et d’emplois de Pôle Emploi.</i>
                        <br><br>
                    <strong>Insertion professionnelle :</strong>
                        <br><br>
                        Devenir à 6 mois :<br>
                        Résultats par diplôme
                        <br><br>
                        Insertion professionnelle à 30 mois :<br>
                        Résultats par diplôme
                    </p>
                    <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
                </div>
        </section>
        <section class="d-flex">
            <div class="flex-row mx-5">
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
                <h2 class="titre2 mb-3">INFORMATIONS PRATIQUES</h2>
                <p class="mt-2">

                </p>
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
            </div>
        </section>
    </main>
{% endblock %}
