{% extends '_connectedNavBar.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    {
        <div class="titre">
            <h1><strong>{% trans %}Master informatique{% endtrans %}</strong></h1>
            <h2><strong>Parcours : intelligence artificielle</strong></h2>
        </div>

    <main>
        <section class="d-flex flex-row align-items-center mt-5 mb-5">
            <div class="flex-row mx-5">
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
                <h2 class="titre2 mb-3">PRÉSENTATION</h2>
                <p class="mt-2">
                    Le <strong>Master Informatique parcours IA</strong> est un diplôme national,
                    il est organisé en <strong>5 Unités d’Enseignement</strong>.
                    <br><br>
                    Les enseignements sont dispensés sous forme de cours magistraux, de travaux dirigés et de travaux pratiques,
                    l’accent étant mis sur les projets individuels et collectifs, les stages, ainsi que sur le contrôle continu.
                    <br><br>
                    Un certain nombre d’enseignements sont mutualisés avec d’autres Mentions portées par le Département Mathématiques,
                    Mécanique et Informatique (MMI).<br>
                    Les compétences linguistiques et professionnelles (Anglais, Gestion de projets,
                    Communication, Organisation des entreprises) sont largement considérées (UE5).
                </p>
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
            </div>
            <img src="{{ asset('img/Unit_enseign.png') }}" alt="image unités enseignement" class="justify-content-end w-50 img-fluid m-sm-5">
        </section>
        <section class="d-flex my-5 justify-content-end">
            <div class="d-flex mx-5 flex-column align-items-end w-50">
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
                <h2 class="titre2 mb-3">COMPÉTENCES ACQUISES</h2>
                <p class="mt-2">
                    Les compétences disciplinaires acquises se concentrent sur l’intelligence artificielle,
                    les humanités numériques, l’aide à la décision et la fouille de données (UE1),
                    la collecte, l’analyse, la gestion et la fusion/corrélation de données, le Big Data et l’apprentissage machine,
                    appliqués par exemple aux villes/transport/agriculture connectés (UE2), l’apprentissage profond, la classification,
                    la complexité et les statistiques, appliqués par exemple à la modélisation bio-inspirée et à la cognition située (UE3),
                    la programmation, la visualisation et les interactions personnes-machines (UE4).
                </p>
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
            </div>
        </section>
        <section class="d-flex">
            <div class="flex-row mx-5">
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
                <h2 class="titre2 mb-3">ORGANISATION PÉDAGOGIQUE</h2>
                <p class="mt-2">
                    <strong>Modalités d’enseignement :</strong>
                    <br><br>
                    Formation initiale en présentiel ou en alternance.
                    <br><br>
                    <strong>Stages et projets tuteurés :</strong>
                    <br><br>
                    En M1, un projet tutoré et un stage obligatoire de deux mois minimum sont prévus au second semestre (S2).
                    <br><br>
                    En M2, un projet tutoré et un stage obligatoire de quatre mois minimum sont prévus au second semestre (S4).
                </p>
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
            </div>
            <div class="w-50 d-flex">
                <img src="{{ asset('/img/orga_master.png') }}" alt="orga_master" class="border border-5 img-fluid">
                <div class="d-flex flex-column mx-5 justify-content-center">
                    <a href="{{ asset('/img/orga_master.png') }}" target="_blank" class="mb-5"><span class="material-symbols-outlined color-blue">visibility</span></a>
                    <a href="{{ asset('/img/orga_master.png') }}" download><span class="material-symbols-outlined color-blue">download</span></a>
                </div>
            </div>
        </section>
        <section>
            <img src="{{ asset('img/univ_band.png')}}" alt="bandeau université" class="img-fluid w-100 my-band">
        </section>
        <section class="d-flex justify-content-end my-5">
                <div class="mx-5 d-flex flex-column align-items-end w-50">
                    <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
                    <h2 class="titre2 mb-3">ADMISSION</h2>
                    <p class="mt-2">
                        [pas encore défini]
                    </p>
                    <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
                </div>
        </section>
        <section class="d-flex">
                <div class="flex-row mx-5">
                    <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
                    <h2 class="titre2 mb-3">POURSUITES D’ÉTUDES ET DÉBOUCHÉS</h2>
                    <p class="mt-2">
                        <strong>Poursuites d’études envisageables :</strong>
                        <br><br>
                        Les étudiants motivés pourront compléter leur formation par un doctorat.
                        <br><br>
                        <strong>Débouchés :</strong>
                        <br><br>
                        Code ROME :
                        <br><br>
                        Ingénieur en Systèmes d’information et de télécommunication : M1804,<br>
                        Management et ingénierie études, recherche et développement industriel : H1206,<br>
                        Data scientist / Études et prospectives socio-économiques : M1403,<br>
                        Conseil en organisation et management d’entreprise : M1402,<br>
                        Direction de petite ou moyenne entreprise : M1302,<br>
                        Réalisateur de contenus multimédias : E1205.<br>
                        <i class="opacity-50">Le ROME est le répertoire des métiers et d’emplois de Pôle Emploi.</i>
                        <br><br>
                    <strong>Insertion professionnelle :</strong>
                        <br><br>
                        Devenir à 6 mois :<br>
                        Résultats par diplôme
                        <br><br>
                        Insertion professionnelle à 30 mois :<br>
                        Résultats par diplôme
                    </p>
                    <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
                </div>
        </section>
        <section class="d-flex justify-content-end my-5">
            <div class="mx-5 d-flex flex-column align-items-end w-50">
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3">
                <h2 class="titre2 mb-3">INFORMATIONS PRATIQUES</h2>
                <strong>Pour en savoir plus sur l'orientation et l'insertion professionnelle :</strong>
                <br>
                <a target="_blank" href="https://www.univ-reims.fr/orientation-et-insertion/orientation/presentation/presentation,24014,39507.html">
                    Mission Orientation du Service d'Accompagnement des Étudiants (SAE)
                    <span class="material-symbols-outlined">open_in_new</span>
                </a>
                <br><br>
                <strong>Pour tout renseignement sur la scolarité :</strong><br>

                <a target="_blank" href="https://www.univ-reims.fr/formation/scolarite/contacts/contacts,22144,36798.html">
                    Coordonnées des scolarités de l'URCA
                    <span class="material-symbols-outlined">open_in_new</span>
                </a>
                    <br><br>

                <strong>
                    Pour tout renseignement sur la formation continue et l’insertion professionnelle :
                </strong>
                <br>

                <a target="_blank" href="https://www.univ-reims.fr/formation/formation-continue/formation-continue/la-formation-continue-a-l-universite-de-reims-champagne-ardenne,8218,15688.html">
                    La formation continue
                    <span class="material-symbols-outlined">open_in_new</span>
                </a>
                <a target="_blank" href="https://www.univ-reims.fr/orientation-et-insertion/bureau-d-aide-a-l-insertion-professionnelle-baip/accueil/presentation-du-service-insertion-professionnelle,8618,16226.html">
                    L’insertion professionnelle
                    <span class="material-symbols-outlined">open_in_new</span>
                </a>
                <a target="_blank" href="https://www.univ-reims.fr/formation/la-validation-des-acquis-vae-vap/la-validation-des-acquis,10331,18683.html">
                    La Validation des acquis
                    <span class="material-symbols-outlined">open_in_new</span>
                </a><br>


                Vous avez de l'expérience et/ou un parcours de formation à valoriser ? <br>
                Des procédures de validation des acquis sont possibles pour vous permettre d'accéder
                à la formation ou pour valider le diplôme.<br>
                Pour plus d’informations, vous pouvez envoyer un e-mail à vae@univ-reims.fr<br><br>

                <strong>
                    Pour en savoir plus sur les relations internationales à l'Université :
                </strong>
                <br>

                <a target="_blank" href="https://www.univ-reims.fr/international/presentation/bienvenue-a-l-urca,19721,33287.html">
                    Direction des Relations Extérieures et du Développement International (DREDI)
                    <span class="material-symbols-outlined">open_in_new</span>
                </a>
                <br>

                <a target="_blank" href="https://www.univ-reims.fr/international/mobilite-des-etudiants/outgoing-students-partir-a-l-etranger/mode-operatoire-pour-un-sejour-d-etudes,19749,39425.html">
                    Partir à l'étranger
                    <span class="material-symbols-outlined">open_in_new</span>
                </a><br><br>

                <strong>Lien vers les associations étudiantes :</strong><br>

                <a target="_blank" href="https://www.univ-reims.fr/vie-des-campus/bureau-de-la-vie-etudiante/les-associations-etudiantes/les-associations-etudiantes,11050,19949.html">
                    Associations étudiantes
                    <span class="material-symbols-outlined">open_in_new</span>
                </a>
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne" class="m-3 mt-5">
            </div>
        </section>
    </main>
    <footer class="footer d-flex flex-row mt-5 justify-content-center">
        <section class="d-flex flex-column m-lg-5">
            <strong>Composante :</strong>
            <a target="_blank" href="https://www.univ-reims.fr/minisite_101/" class="text-white">
                Faculté de Sciences Exactes et Nature
            </a><br>
            <div class="d-flex flex-row align-items-center mb-3">
                <span class="material-symbols-outlined me-3">phone</span>
                03 26 91 34 19
            </div>
            <div class="d-flex flex-row align-items-center mb-3">
                <span class="material-symbols-outlined  me-3">location_on</span>
                Moulin de la Housse - BP 1039<br>
                51687 Reims Cedex 2
            </div>
            <div class="d-flex flex-row align-items-center mb-3">
                <span class="material-symbols-outlined  me-3">mail</span>
                scolarite.sciences@univ-reims.fr
            </div>
        </section>
        <section class="d-flex flex-column m-lg-5">
            <strong>
                Responsable de la formation :<br>
                Francis ROUSSEAUX
            </strong><br>
            <div class="d-flex flex-row align-items-center mb-3">
                <span class="material-symbols-outlined  me-3">mail</span>
                francis.rousseaux@univ-reims.fr
            </div>
        </section>
        <section class="d-flex flex-column m-lg-5">
            <strong>
                Coordonnées du secrétariat :<br>
                Département MMI
            </strong><br>
            <div class="d-flex flex-row align-items-center mb-3">
                <span class="material-symbols-outlined  me-3">mail</span>
                secretariat-doyen-sciences@univ-reims.fr
            </div>
        </section>
    </footer>
{% endblock %}
